## 1. Connection

In [ ]:
import mysql.connector

In [ ]:
# host, user name and password
mydb = mysql.connector.connect( 
    host="localhost",
    user="root",
    password="854661830")

In [ ]:
# success
print(mydb)

## 2. Creating our Database and Table

In [ ]:
mycursor = mydb.cursor()

In [ ]:
# copy from init-test-data.sql
mycursor.execute("CREATE DATABASE IF NOT EXISTS test;")

In [ ]:
mycursor.execute("SHOW DATABASES")
for db in mycursor:
    print(db)
mycursor.close()
mydb.close()

In [ ]:
mydb = mysql.connector.connect( 
    host="localhost",
    user="root",
    password="854661830",
    database="test")

mycursor = mydb.cursor()

In [ ]:
mycursor.execute(
    "DROP TABLE IF EXISTS classes;\
    DROP TABLE IF EXISTS students;")

In [ ]:
mycursor.execute("CREATE TABLE classes (\
    id BIGINT NOT NULL AUTO_INCREMENT,\
    name VARCHAR(100) NOT NULL,\
    PRIMARY KEY (id)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8;")

In [ ]:
mycursor.execute("CREATE TABLE students (\
    id BIGINT NOT NULL AUTO_INCREMENT,\
    class_id BIGINT NOT NULL,\
    name VARCHAR(100) NOT NULL,\
    gender VARCHAR(1) NOT NULL,\
    score INT NOT NULL,\
    PRIMARY KEY (id)\
)ENGINE=InnoDB DEFAULT CHARSET=utf8;")

In [ ]:
mycursor.execute("SHOW TABLES")
for tb in mycursor:
    print(tb)

In [ ]:
# inser into class table regular way
mycursor.execute(
    """
    INSERT INTO classes(id, name) VALUES (1, 'class one');
    INSERT INTO classes(id, name) VALUES (2, 'class two');
    INSERT INTO classes(id, name) VALUES (3, 'class three');
    INSERT INTO classes(id, name) VALUES (4, 'class four');
    """)

In [ ]:
# use placeholder
# step1: sqlFormular with place holder
# step2: