## 1. Connection

In [1]:
import mysql.connector

In [2]:
# host, user name and password
mydb = mysql.connector.connect( 
    host="localhost",
    user="root",
    password="854661830")

In [4]:
# success
if(mydb):
    print("Connection Successfully")
else:
    print("Connection fail")

Connection Successfully

In [5]:
mydb.close()

## 2. Creating our Database and Table

In [6]:
mydb = mysql.connector.connect( 
    host="localhost",
    user="root",
    password="854661830")

In [7]:
mycursor = mydb.cursor()

In [8]:
mycursor.execute("CREATE DATABASE test")

In [9]:
mycursor.execute("use test")

In [10]:
mycursor.execute(
    "CREATE TABLE classes (\
    id BIGINT NOT NULL AUTO_INCREMENT,\
    name VARCHAR(100) NOT NULL,\
    PRIMARY KEY (id))")

In [11]:
mycursor.execute(
    "CREATE TABLE students (\
    id BIGINT NOT NULL AUTO_INCREMENT,\
    class_id BIGINT NOT NULL,\
    name VARCHAR(100) NOT NULL,\
    gender VARCHAR(1) NOT NULL,\
    score INT NOT NULL,\
    PRIMARY KEY (id))")

## 3. Inserting, Updating, Deleting Data

In [13]:
# silly way insert
mycursor.execute("INSERT INTO classes(id, name) VALUES (1, '一班');")
mycursor.execute("INSERT INTO classes(id, name) VALUES (2, '二班');")
mycursor.execute("INSERT INTO classes(id, name) VALUES (3, '三班');")
mycursor.execute("INSERT INTO classes(id, name) VALUES (4, '四班');")

In [14]:
# remember to commit changes when inserting, updating and deleting rows, because you did change to the database!!!!
mydb.commit()

In [18]:
# more elegent way, %s is placeholder here, you can substitute any values you want!
sql = "INSERT INTO students (id, class_id, name, gender, score) VALUES (%s, %s, %s, %s, %s)"
val = [
    (1, 1, '小明', 'M', 90),
    (2, 1, '小红', 'F', 95),
    (3, 1, '小军', 'M', 88),
    (4, 1, '小米', 'F', 73),
    (5, 2, '小白', 'F', 81),
    (6, 2, '小兵', 'M', 55),
    (7, 2, '小林', 'M', 85),
    (8, 3, '小新', 'F', 91),
    (9, 3, '小王', 'M', 89),
    (10, 3, '小丽', 'F', 85)
]

mycursor.executemany(sql, val)

# commit when inserting
mydb.commit()

In [19]:
# deleting

sql = "DELETE FROM students WHERE name = '小王'"

mycursor.execute(sql)

# commit when deleting
mydb.commit()

In [20]:
# updating

sql = "UPDATE students SET score = '100' WHERE name = '小明'"

mycursor.execute(sql)

# commit when updating
mydb.commit()

## 4.Selecting Data

In [21]:
mycursor.execute("SELECT * FROM students")

# fetchall return a list of tuples
myresult = mycursor.fetchall()

for row in myresult:
    print(row)

(1, 1, '小明', 'M', 100)
(2, 1, '小红', 'F', 95)
(3, 1, '小军', 'M', 88)
(4, 1, '小米', 'F', 73)
(5, 2, '小白', 'F', 81)
(6, 2, '小兵', 'M', 55)
(7, 2, '小林', 'M', 85)
(8, 3, '小新', 'F', 91)
(10, 3, '小丽', 'F', 85)

In [23]:
sql = "SELECT students.name AS 学生, \
    students.score AS 分数 \
    FROM students INNER JOIN classes ON students.class_id = classes.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for row in myresult:
    print(row)

('小明', 100)
('小红', 95)
('小军', 88)
('小米', 73)
('小白', 81)
('小兵', 55)
('小林', 85)
('小新', 91)
('小丽', 85)

In [24]:
# close cursor and connection at last
mycursor.close()
mydb.close()

Nice work!